path{
    fill:lightgreen;
    stroke:black;
    stroke-opacity:0.5; 
}
path:hover{
    stroke:black;
    stroke-opacity: 2;
}

div#tooltip {
    position: absolute;
    padding: 10px;                
    font: 12px Arial;        
    background: rgba(255, 255, 204, 0.9);
    box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
    border: 0px;        
    border-radius: 2px;            
    pointer-events: none;            
  }
svg{
    width:70%;
    height:80%;
}
.bar{
    fill:rgb(252, 146, 114);
    display: inline-block;
   
}

#container{
   background-color:#FFFFCC;
   padding:10px;
   display:flex;
   flex-direction: column;


}
path {
    stroke:black;
    stroke-width: 1;
    fill: none;
}

.chart{
    width:100%;
    height:100%;
}
#table{
    width: 70%;
}
.first_component{
    display: inline-flex;
    flex-wrap:nowrap;
    flex:1;
}
body {
    display:flex;
    flex-direction: column;
}