body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

span {
  display: inline-block;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  border: 2px solid black;
  background: white;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:disabled {
  background: #cccccc;
  border-color: #adadad;
}

.zero, .three, .six {
  border-left: none;
}

.zero, .one, .two {
  border-top: none;
}

.two, .five, .eight {
  border-right: none;
}

.six, .seven, .eight {
  border-bottom: none;
}

#zero, #winner-0, #one, #winner-1, #two, #winner-2 {
  grid-row: 2;
}

#three, #winner-3, #four, #winner-4, #five, #winner-5 {
  grid-row: 3;
}

#six, #winner-6, #seven, #winner-7, #eight, #winner-8 {
  grid-row: 4;
}

#zero, #winner-0, #three, #winner-3, #six, #winner-6 {
  grid-column: 1;
}

#one, #winner-1, #four, #winner-4, #seven, #winner-7 {
  grid-column: 2;
}

#two, #winner-2, #five, #winner-5, #eight, #winner-8 {
  grid-column: 3;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  display: grid;
  text-align: center;
}

.single-game {
  margin: 10px;
  text-align: center;
}

.winner-marker {
  visibility: hidden;
  font-size: 100px;
}
